.bottom30 {margin-bottom: 30px;}
.nav-md .container.body .right_col {
    padding-bottom: 20px;
}
#global-message-container {
	padding-left: 0;
	padding-right: 0;
}
#global-message-container p {
	margin: 0 !important;
	padding: 0 !important;
}
.global-message {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #e6e9ed;
	border-left-width: 5px;
	border-radius: 0px;
	background-color: #fff;	
}
.global-message-success {
	border-left-color: #5cb85c;
}
.global-message-danger {
	border-left-color: #d9534f;
}

#plugins-item-new, #plugins-item-new:active, #plugins-item-new:visited {
	border: 1px solid #d6d9dd;
	border-radius: 0px;
	background-color: #fff;	
	width: 320px;
	display: block;
	float: left;
	height: 80px;
	line-height: 80px;
	color: #d6d9dd;
	text-align: center;
	text-decoration: none;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-khtml-transition-duration: .3s;
	margin: 0 10px 10px 0;
}
#plugins-item-new:hover {
	border: 1px solid #73879C;
	color: #73879C;
}
.plugins-item {
	border: 1px solid #d6d9dd;
	border-radius: 0px;
	background-color: #fff;	
	width: 320px;
	display: block;
	float: left;
	height: 80px;
	color: #d6d9dd;
	text-decoration: none;
	overflow: hidden;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-khtml-transition-duration: .3s;
	margin: 0 10px 10px 0;
	cursor: pointer;
	position: relative;
}
.plugins-item-active, .plugins-item:hover {
	border: 1px solid #73879C;
	color: #73879C;
}
.plugins-item > .fa {
	line-height: 80px;
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 48px;
	float: left;
}
.plugins-item h4 {
	margin-top: 10px;
	margin-bottom: 3px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	font-size: 18px;
	white-space: nowrap;
}
.plugins-item label {
	margin-bottom: 0;
}
.plugins-item-spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 320px;
	height: 80px;
	background: rgba(255, 255, 255, 0.9);
	line-height: 80px;
	text-align: center;
	font-size: 32px;
	color: #73879C;
	display: none;
}
.widefat {
	width: 100%;
}
.wrap h2 {
	display: none;
}
.button, .button-primary, .button-secondary {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 3px;
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-khtml-transition-duration: .3s;
}
.button:active, .button-primary:active, .button-secondary:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	text-decoration: none;
}
.button:hover, .button-primary:hover, .button-secondary:hover, .button:focus, .button-primary:focus, .button-secondary:focus {
	text-decoration: none;
}
.button, .button-secondary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.button:active, .button-secondary:active {
	color: #fff;
	background-color: #286090;
	background-image: none;
}
.button:focus, .button:hover, .button-secondary:focus, .button-secondary:hover {
	color: #fff;
	background-color: #286090;
	background-image: none;
}
.button-primary {
	color: #fff;
	background: #26B99A;
	border: 1px solid #169F85;
}
.button-primary:active {
	color: #fff;
	background: #169F85;
	background-image: none;
}
.button-primary:hover {
	color: #fff;
	background: #169F85;
	background-image: none;
}
.nav-tab {
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: 0.5em; /* half the font size so set the font size properly */
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	background: #e5e5e5;
	text-decoration: none;
	white-space: nowrap;
}

.nav-tab:hover,
.nav-tab:focus {
	background-color: #fff;
	color: #444;
}
.nav-tab-active,
.nav-tab:focus:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.nav-tab-active {
	margin-bottom: -1px;
	color: #204c74;
}
.nav-tab-active,
.nav-tab-active:hover,
.nav-tab-active:focus,
.nav-tab-active:focus:active {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #204c74;
}
.wrap h2.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: inherit;
	display: block;
	height: 36px;
}
.uap-filter-form {
	margin-bottom: 10px;
}
.uap-filter-form label {
	float: left;
	margin-right: 5px;
	font-weight: 400;
	line-height: 1.43;
	padding: 6px 0;
	font-size: 14px;
}
.uap-filter-form input, .uap-filter-form select {
	float: left;
	margin-right: 5px;
}
.copy-container {
	font-family: monospace,monospace;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.updated, .error {display: none;}
.tablenav {
	clear: both;
	height: 30px;
	margin: 10px 0 4px;
	vertical-align: middle;
}
.tablenav .tablenav-pages {
	float: right;
	height: 28px;
	margin-top: 6px;
	cursor: default;
	color: #555;
}
.tablenav .tablenav-pages a {
	display: inline-block;
	min-width: 17px;
	border: 1px solid #ccc;
	padding: 4px 8px;
	background: #e5e5e5;
	font-size: 14px;
	line-height: 1.42857143;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}
.tablenav .tablenav-pages a.disabled,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:active {
	color: #fff;
	background-color: #337ab7;
    border-color: #2e6da4;
}